:root {
  --primary: #32343f;
  --secondary: #c60af5;
  --tertiary: #d36a41;
  --card: #150e24;
  --light: #ffffff;
  --dark: #272f35;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacint-two: calc(1rem);
}

#root {
  background-color: var(--dark);
}

* {
  box-sizing: border-box;
}

form {
  background-color: #3d06b4;
  min-width: 45%;
  max-width: none;
  min-height: auto;
  border-radius: 0.5rem;
}

.card a {
  text-decoration: none;
}

label {
  color: var(--light);
  font-size: 1.25rem;
  text-decoration: underline;
  padding-left: 1rem;
}

.ctgBtn {
  border-radius: 0.25rem;
}

html,
body {
  min-height: 100%;
  background-color: var(--dark);
}

body {
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 600;
  margin: 5px 0;
  line-height: 1.25;
  color: var(--light);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  color: var(--light);
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ffffff;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  margin-bottom: 0.25rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  padding-top: 1rem;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  opacity: .4;
  color: var(--secondary);
}

span[role="img"] {
  cursor: default;
}

form {
  min-width: 65%;
  max-width: none;
  border-radius: 0.25rem;
}

input {
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid var(--dark);
  outline: none;
  min-width: 60%;
  border-radius: 3px;
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem #000000;
}

ul {
  list-style-type: none;
}

img {
  min-width: 30%;
  max-width: 65%;
}

.card img {
  min-width: 40%;
  max-width: 80%;
}

.card {
  width: 25%;
  min-width: 0;
  font-weight: 400;
  text-align: center;
  position: relative;
  display: flex;
  border-radius: 0.5rem;
}

.container {
  background-color: var(--dark);
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}



.navContainer li {
  justify-content: space-between;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}


.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

header {
  background: var(--primary);
}

div a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .5;
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-text {
  color: var(--error);
}

button:hover {
  opacity: .5;
}

button[disabled] {
  cursor: default;
  opacity: .5;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
  .modal-footer {
    margin-left: 1rem;
  }
}
